/* POPUP */
.popup-bkgrnd {
  background-color: rgba(0, 0, 0, 0.85);

  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  top: 0;
  left: 0;
  margin-left: 0;
}

.popup {
  background-color: var(--main-blue);
  height: 60vh;
  max-height: 405px;
  width: 60vw;
  max-width: 812px;
  margin: auto;
  margin-top: 26vh;
  color: #fff;
  overflow: hidden;
  border-radius: 13px;
  padding: 0 30px;
}
.popup-wht {
  background-color: #fff;
}

@media only screen and (max-width: 1400px) {
  .popup {
    height: 50vh;
    max-height: 405px;
    width: 50vw;
    max-width: 812px;
  }
}

.share-linkedin {
  width: 80vw;
  max-width: 1330px;
  height: 75vh;
  max-height: 638px;
  margin-top: 12vh;
}

.popup-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: -38px;
}

/* CLOSE BTN */
.popup #close-btn {
  font-weight: 100;
  font-size: 4.7rem;
  text-align: right;
  position: relative;
  z-index: 10;
  width: 103%;
  height: 24px;
}

.popup #close-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.share-linkedin #close-btn {
  color: var(--main-blue);
  right: 13px;
}

.popup-wht #close-btn {
  color: var(--main-blue);
}
.invite-friends #close-btn {
  margin-top: 0px;
}

@media only screen and (max-width: 1400px) {
  .popup #close-btn {
    right: -8px;
  }
  .share-linkedin #close-btn {
    right: 0;
  }
}

/* POPUP TEXT */
.popup-text {
  text-align: center;
  justify-self: center;
  align-self: center;
}

.popup .underline {
  text-decoration: underline;
  text-underline-offset: 3%;
  text-decoration-color: var(--accent-blue);
  text-decoration-thickness: 4px;
  text-decoration-skip-ink: none;
}
.popup .emoji {
  height: 55px;
  margin-bottom: 10px;
}

.popup-wht .emoji {
  height: 60px;
  display: inline;
}

.popup .popup-title {
  font-size: 2.14rem;
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: 40px;
}
.popup-wht .popup-title {
  color: var(--main-blue);
}

.popup h3 {
  font-size: 1.43rem;
  margin-bottom: 10px;
}
.popup .popup-subtitle {
  font-size: 1.15rem;
  font-weight: 400;
}

.popup-wht .popup-subtitle {
  color: #757a7f;
  margin-top: 40px;
  margin: auto;
  max-width: 468px;
}

.popup a {
  color: #757a7f;
  font-size: 0.86rem;
  text-decoration: underline;
  display: block;
  margin-top: 25px;
}

/* BUTTONS */
.popup button {
  background-color: var(--main-blue);
  border: none;
  border-radius: 28px;
  height: 50px;
  width: 270px;
  color: var(--white);
  font-size: 1.12rem;
  font-weight: 600;
  margin-top: 36px;
  transition: 0.2 ease-in-out;
  outline: none;
}

.popup button:hover {
  background-color: var(--dark-blue);
}

/* NO ONE THERE POPUP */
#noone-popup .popup-title {
  display: inline;
  margin-right: 20px;
}

#noone-popup .emoji {
  height: 36px;
}

#noone-popup .popup-subtitle {
  margin-bottom: 10px;
  margin-top: 10px;
}
#noone-popup .user-icon {
  display: inline-block;
  height: 48px;
  margin: 20px 8px 0px 8px;
}

/* SOMEONE ELSE JOINED POPUP */
.someone-joined button {
  background-color: var(--accent-blue);
  color: var(--main-blue);
}

.someone-joined button:hover {
  background-color: #04cccc;
}

.someone-joined a {
  color: var(--white);
}

/* SHARE LINKEDIN POPUP */

.popup-joined {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 80vw;
  max-width: 1330px;
  height: 75vh;
  max-height: 638px;
}
.popup-joined .popup-text {
  width: 100%;
  text-align: left;
  padding-left: 4vw;
  padding-right: 80px;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
}

.popup-joined .popup-title {
  font-size: 2.14rem;
}
.popup-joined p {
  font-size: 1.14rem;
}
.popup-joined button {
  background-color: #fff;
  color: var(--main-blue);
  height: 45px;
  margin-top: 20px;
  transition: 0.2 ease-in-out;
}
.popup-joined a {
  display: block;
  color: #fff;
  text-decoration: underline;
  width: 100%;
}
.popup-joined .image-container {
  background-color: #fff;
  width: 111%;
  height: 101%;
  border-radius: 0 13px 13px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-joined img {
  height: 80%;
}

/* POSTING TO LINKED IN COUNTDOWN */
.posting-linkedin {
  width: 40vw;
  max-width: 636px;
  height: 50vh;
  max-height: 476px;
}

.popup .popup-countdown {
  background-color: var(--main-blue);
  color: #fff;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  margin: 0 auto;
}
.popup-countdown h2 {
  font-size: 3.3rem;
  padding-top: 16px;
}

.popup .preparing-linkedin .popup-title {
  margin-bottom: 50px;
  margin-top: 30px;
}

.popup .preparing-linkedin .popup-title {
  color: var(--main-blue);
}
.preparing-linkedin .popup-subtitle {
  color: #757a7f;
}

/* INVITE FRIENDS */
.invite-friends {
  width: 656px;
  height: 85vh;
  max-height: 819px;
  margin-top: 6vh;
}

.invite-friends p {
  color: #757a7f;
  margin-top: 15px;
  margin-bottom: 20px;
}
.invite-friends input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  outline: none;
  border: none;
  padding-left: 20px;
  color: #000;
}

.invite-friends input::placeholder {
  color: #9f9f9f;
}

.invite-friends .invite-btn {
  width: 302px;
  height: 50px;
  margin-top: 10px;
}
.invite-friends #send-invite-btn:disabled {
  background-color: #c9c9c9;
}

.invite-friends #sent-invite-btn {
  background-color: var(--accent-blue);
}
.invite-friends #sent-invite-btn:hover {
  background-color: #04cccc;
}

@media only screen and (max-width: 1400px) {
  .invite-friends {
    width: 600px;
    height: 81vh;
    margin-top: 9vh;
  }
  .invite-friends input {
    height: 40px;
  }
}
