/* GLOBAL */
:root {
  --main-blue: #3A4BF2;
  --dark-blue: #28348A;
  --navy-blue: #11165D;
  --accent-blue: #00DCDC;
  --background: #f5f5f5;
  --white: #FFFFFF;
  --accent-light: #DFE1F8;
  font-size: 14px;
  
}

.App {
  background-color: var(--background);
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 160px;
  line-height: 1.8rem;
  min-height: 100vh;

}

ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 15px;
}

.card {
  border: none;
}

/* MAIN */
.main-container {
  margin-left: 255px;
  margin-top: 76px;
  padding-top: 33px;
  color: var(--dark-blue);
  max-width: 80vw;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px){
  :root {
    font-size: 12px;
  }

  .main-container {
    margin-left: 220px;
  }
}



@media only screen and (max-width: 480px){
  .main-container {
      margin-left: 0;
      width: 100%;
      padding: 20px 0 0 0;
  }
 
}
