/* GLOBAL */
:root {
  --main-blue: #3a4bf2;
  --dark-blue: #28348a;
  --navy-blue: #11165d;
  --accent-blue: #00dcdc;
  --background: #fbfcfe;
  --white: #ffffff;
  --accent-light: #dfe1f8;
  font-size: 14px;
}

.App {
  background-color: var(--background);
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 160px;
  line-height: 1.8rem;
  min-height: 100vh;
}

ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 15px;
}

.card {
  border: none;
}

/* MAIN */
.main-container {
  margin-left: 255px;
  margin-top: 76px;
  padding-top: 33px;
  color: var(--dark-blue);
  max-width: 80vw;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  :root {
    font-size: 12px;
  }

  .main-container {
    margin-left: 220px;
  }
}

@media only screen and (max-width: 480px) {
  .main-container {
    margin-left: 0;
    width: 100%;
    padding: 20px 0 0 0;
  }
}

/* WEEK PICKER */
.week-picker {
  margin-bottom: 20px;
  color: var(--main-blue);
}

.week-picker #prev-week,
#next-week {
  display: inline;
  vertical-align: text-bottom;
  margin-right: 10px;
  font-size: 1.14rem;
}

.week-picker h4 {
  display: inline;
  margin-left: 20px;
  font-size: 1.14rem;
}

/* CALENDAR FORMATTING */
.row {
  height: 50px;
}

.calendar .border-top {
  border-top: 1.5px solid #ebedfd;
}
.calendar .border-right {
  border-right: 1.5px solid #ebedfd;
}

.calendar .date-header {
  height: 40px;
  text-align: center;
  font-size: 1rem;
  color: var(--main-blue);
  font-weight: 600;
}

.calendar .time-header {
  color: var(--main-blue);
  font-weight: 600;
  padding-top: 10px;
  border-top: none;
}

.calendar .date-header .date {
  font-size: 1.7rem;
  margin-left: 4px;
  vertical-align: text-bottom;
}

/* BOOK SLOT */
.calendar .book-slot {
  padding-left: 0;
  padding-right: 0;
}

.calendar a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 13px;
  color: #ebedfd;
  font-size: 1.3rem;
  transition: 0.1s ease-in-out;
}

.calendar .open-slot::after {
  font-family: "Font Awesome 5 Free";
  content: "\f055";
  font-weight: 900;
}

.calendar .open-slot:hover {
  text-decoration: none;
  color: var(--main-blue);
}

.calendar .open-slot:hover::before {
  font-family: "Font Awesome 5 Free";
  content: "\f055";
  font-weight: 900;
}

.calendar .open-slot:hover::after {
  content: "book";
  font-size: 1rem;
  font-weight: 600;
  margin-left: 5px;
  font-family: sofia-pro, sans-serif;
}

.calendar .booked {
  background-color: var(--main-blue);
  color: #fff;
  transition: 0.1s ease-in-out;
}

.calendar .booked::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
}

.calendar .booked:hover {
  text-decoration: none;
  background-color: #d32929;
}

.calendar .booked:hover::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d9       \f00d";
  letter-spacing: 15px;
}

/* POPUP */
.popup-bkgrnd {
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  top: 0;
  left: 0;
  margin-left: 0;
}

.popup {
  background-color: var(--main-blue);
  height: 100%;
  color: #fff;
  overflow: hidden;
  box-shadow: 2px 2px 10px #171717;
}

.popup #close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  opacity: 50%;
  font-size: 1.2rem;
}

.popup-text {
  margin-top: 32vh;
  text-align: center;
}

.popup .underline {
  text-decoration: underline;
  text-underline-offset: 3%;
  text-decoration-color: var(--accent-blue);
  text-decoration-thickness: 4px;
  text-decoration-skip-ink: none;
}

.popup .emoji {
  height: 100px;
  margin-bottom: 10px;
}
.popup .popup-title {
  font-size: 4rem;
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: 30px;
}
.popup .popup-subtitle {
  font-size: 1.8rem;
}

.popup button {
  background-color: var(--accent-blue);
  border: none;
  border-radius: 28px;
  height: 50px;
  width: 270px;
  color: var(--main-blue);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 36px;
}

.popup-wht {
  background-color: #fff;
}
.popup-wht .popup-text {
  margin-top: 26vh;
}
.popup-wht .popup-title {
  color: var(--main-blue);
  margin-right: 20px;
  display: inline;
  margin-bottom: 20px;
}
.popup-wht .emoji {
  height: 60px;
  display: inline;
}
.popup-wht .popup-subtitle {
  color: #757a7f;
}
.popup-wht .book-buddies {
  margin-top: 59px;
  margin-bottom: 20px;
}
.popup-wht .user-icon {
  display: inline-block;
  margin: 15px;
}
.popup-wht button {
  color: #fff;
}

/* DEMO BUTTONS */
.demo-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.demo-buttons button {
  display: block;
  width: 150px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: var(--accent-blue);
  border: none;
  border-radius: 28px;
  color: #fff;
}
